
%position{
    position: absolute;
    top: 40%;
    left: 28%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}

.google_form{
    @extend %position;
    width: 50%;
    text-align:center;
}
.search_bar{
    border: 1px solid gray;
    width: 90%;
    height: 40px;
    font-size:15px ;
    border-radius: 20px;
    padding-left: 15px;
    margin-top: 3%;
    background: url(images/search.png) no-repeat scroll 7px 7px;
    background-size: 3% 50% ;
    background-position-x: 15px;;
    background-position-y: center;
    padding-left:50px;

}
.search_bar:focus{
    outline-width: 0;
}


.search_button{
    width: fit-content;
    margin-top: 15px;
    height: 30%;
    border: none;
    padding: 7px;
    border-radius: 5px;
    color:rgb(97, 95, 95);
    background-color:rgb(243, 240, 240);
    border:solid 0.01px rgb(243, 240, 240);
    margin-top: 2%;
    margin-left: 1%;
    resize: both;
}
.search_button:hover{
    color:#212529;
    background-color:rgb(243, 240, 240);
    border:solid 0.01px rgb(202, 200, 200);
}

.search_button:focus{
    outline-width: 0px;
    border: solid 0.01px rgb(11, 127, 204);
}
.upper_right{
    text-align: right;
}

#advanced_button{
    position: absolute;
    color: white;
    background-color: #376ded;
    height: 5%;
    border-radius: 5px;
}
#advanced_button:hover{
    background-color: #4069c9;
}
.input_field{
    display:grid;
    grid-column-gap: 20%;
    grid-row-gap: 20%;
    grid-template-columns: auto;
}
.google{
    display: inline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100px;
    margin: -3px;
    position: relative;
    text-align: center;
    font-weight: 200;
    resize: both;
}

#images{
    color:#4885ed;
    position: relative;
    left: 110px;
    top: -40%;
    margin-bottom: -3.6%;
    font-family: Arial, Helvetica, sans-serif;
}

